---

---

<ul role="list" class="myGrid">
    <li class="text-block">
        <p>Telegram: <a class="text-link" href="https://t.me/sfomchukov">@sfomchukov</a></p>
        <p>EMail: <a class="text-link" href="mailto:askiphy@askiphy.ru">askiphy@askiphy.ru</a></p>
        <p>GitHub: <a class="text-link" href="https://github.com/askiphy">askiphy</a></p>
    </li>
</ul>